[Unit]
Description=Flanneld Server
Requires=etcd-early.service
After=etcd-early.service

[Service]
ExecStart=/bin/runc
Restart=on-failure
WorkingDirectory=/var/runc/flannel

[Install]
WantedBy=multi-user.target

